---
http_interactions:
- request:
    method: get
    uri: https://lpradovera.signalwire.com/api/laml/2010-04-01/Accounts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjliYmEyZDQtZGRmMS00NTY5LThiNGEtNTkxNDQ0MGE1ZTEzOlBUMjNkM2NjZjUxOWQzNDdlYjA0OTJjNDhlZWM3ZTFmMmRiY2ZkZWJhN2Q3YjEzZTY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1545843600'
      Etag:
      - W/"bd486ac340657d0ad89590a5413b3f7f"
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts?Page=1\u0026PageSize=50","start":0,"end":0,"first_page_uri":"/api/laml/2010-04-01/Accounts?Page=1\u0026PageSize=50","next_page_uri":null,"previous_page_uri":null,"page":0,"page_size":50,"accounts":[{"sid":"29bba2d4-ddf1-4569-8b4a-5914440a5e13","friendly_name":"LAML
        testing","status":"active","auth_token":"redacted","date_created":"Mon, 20
        Aug 2018 12:54:10 +0000","date_updated":"Mon, 20 Aug 2018 12:54:10 +0000","type":"Full","uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13","subresource_uris":{"addresses":null,"available_phone_numbers":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/AvailablePhoneNumbers","applications":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Applications","authorized_connect_apps":null,"calls":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Calls","conferences":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Conferences","connect_apps":null,"incoming_phone_numbers":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/IncomingPhoneNumbers","keys":null,"notifications":null,"outgoing_caller_ids":null,"queues":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Queues","recordings":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Recordings","sandbox":null,"signing_keys":null,"sip":null,"short_codes":null,"messages":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Messages","transcriptions":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Transcriptions","usage":null}}]}'
  recorded_at: Wed, 26 Dec 2018 16:47:17 GMT
recorded_with: VCR 4.0.0
