---
http_interactions:
- request:
    method: get
    uri: https://testing.signalwire.com/2010-04-01/Accounts/xyz123-xyz123-xyz123/Applications.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"uri":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Applications?Page=0\u0026PageSize=50","first_page_uri":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Applications?Page=0\u0026PageSize=50","next_page_uri":null,"previous_page_uri":null,"page":0,"page_size":50,"applications":[{"sid":"34f49a97-a863-4a11-8fef-bc399c6f0928","date_created":"Wed,
        19 Dec 2018 14:23:36 +0000","date_updated":"Wed, 19 Dec 2018 15:45:52 +0000","account_sid":"xyz123-xyz123-xyz123","friendly_name":"Test
        App","voice_url":"https://testing.signalwire.com/laml-bins/edfb6a6e-a60a-4a56-9a9c-04babd511882","voice_method":"GET","voice_fallback_url":"","voice_fallback_method":"POST","status_callback":"","status_callback_method":"POST","voice_caller_id_lookup":null,"sms_url":"","sms_method":"POST","sms_fallback_url":"","sms_fallback_method":"POST","sms_status_callback":"","sms_status_callback_method":"POST","api_version":"2010-04-01","uri":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Calls/34f49a97-a863-4a11-8fef-bc399c6f0928"}]}'
  recorded_at: Wed, 26 Dec 2018 16:51:53 GMT
recorded_with: VCR 4.0.0
