---
http_interactions:
- request:
    method: get
    uri: https://testing.signalwire.com/api/laml/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/831455c6-574e-4d8b-b6ee-2418140bf4cd/Media/aff0684c-3445-49bc-802b-3a0a488139f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"sid":"aff0684c-3445-49bc-802b-3a0a488139f5","date_created":"2019-01-04T16:28:33Z","date_updated":"2019-01-04T16:29:20Z","account_sid":"xyz123-xyz123-xyz123","fax_sid":"831455c6-574e-4d8b-b6ee-2418140bf4cd","content_type":"image/tiff","url":"/api/laml/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/831455c6-574e-4d8b-b6ee-2418140bf4cd/Media/aff0684c-3445-49bc-802b-3a0a488139f5.json"}'
  recorded_at: Fri, 04 Jan 2019 16:55:37 GMT
recorded_with: VCR 4.0.0
