---
http_interactions:
- request:
    method: get
    uri: https://testing.signalwire.com/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"uri":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes?Page=0\u0026PageSize=50","first_page_uri":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes?Page=0\u0026PageSize=50","next_page_uri":null,"previous_page_uri":null,"page":0,"page_size":50,"faxes":[{"account_sid":"xyz123-xyz123-xyz123","api_version":"v1","date_created":"2019-01-04T16:28:33Z","date_updated":"2019-01-04T16:29:20Z","direction":"outbound","from":"+14043287382","media_url":"https://s3.us-east-2.amazonaws.com/signalwire-assets/faxes/20190104162834-831455c6-574e-4d8b-b6ee-2418140bf4cd.tiff","media_sid":"aff0684c-3445-49bc-802b-3a0a488139f5","num_pages":1,"price":0.0105,"price_unit":"USD","quality":"fine","sid":"831455c6-574e-4d8b-b6ee-2418140bf4cd","status":"delivered","to":"+14043287360","duration":41,"links":{"media":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/831455c6-574e-4d8b-b6ee-2418140bf4cd/Media"},"url":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/831455c6-574e-4d8b-b6ee-2418140bf4cd"},{"account_sid":"xyz123-xyz123-xyz123","api_version":"v1","date_created":"2019-01-04T16:05:18Z","date_updated":"2019-01-04T16:05:45Z","direction":"outbound","from":"+14043287382","media_url":"https://s3.us-east-2.amazonaws.com/signalwire-assets/faxes/20190104160520-5ed234e3-0e6b-4c49-869a-6c0ef3c30884.tiff","media_sid":"77643eca-a413-48c7-ad34-6e703fc77ca7","num_pages":0,"price":0.0105,"price_unit":"USD","quality":"fine","sid":"5ed234e3-0e6b-4c49-869a-6c0ef3c30884","status":"failed","to":"+14043287360","duration":17,"links":{"media":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/5ed234e3-0e6b-4c49-869a-6c0ef3c30884/Media"},"url":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/5ed234e3-0e6b-4c49-869a-6c0ef3c30884"},{"account_sid":"xyz123-xyz123-xyz123","api_version":"v1","date_created":"2019-01-04T16:03:11Z","date_updated":"2019-01-04T16:03:11Z","direction":"outbound","from":"+14043287382","media_url":null,"media_sid":"a9d56213-1ec6-4618-adac-969d4d11c09a","num_pages":null,"price":null,"price_unit":"USD","quality":"fine","sid":"ce501cac-3144-4540-a6c7-a1c7963501f7","status":"failed","to":"+14043287360","duration":0,"links":{"media":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/ce501cac-3144-4540-a6c7-a1c7963501f7/Media"},"url":"/2010-04-01/Accounts/xyz123-xyz123-xyz123/Faxes/ce501cac-3144-4540-a6c7-a1c7963501f7"}]}'
  recorded_at: Fri, 04 Jan 2019 16:30:12 GMT
recorded_with: VCR 4.0.0
