---
http_interactions:
- request:
    method: get
    uri: https://testing.signalwire.com/api/laml/2010-04-01/Accounts/xyz123-xyz123-xyz123/AvailablePhoneNumbers/US/Local.json?InRegion=WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts/xyz123-xyz123-xyz123/AvailablePhoneNumbers/US/Local?InRegion=WA","available_phone_numbers":[{"friendly_name":"206-201-1680","phone_number":"+12062011680","lata":null,"rate_center":"BAINBDG
        IS","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"206-204-1820","phone_number":"+12062041820","lata":null,"rate_center":"SEATTLE","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"206-204-1821","phone_number":"+12062041821","lata":null,"rate_center":"SEATTLE","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":fa[...]
