---
http_interactions:
- request:
    method: get
    uri: https://lpradovera.signalwire.com/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/AvailablePhoneNumbers/US/Local.json?InRegion=WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjliYmEyZDQtZGRmMS00NTY5LThiNGEtNTkxNDQ0MGE1ZTEzOlBUMjNkM2NjZjUxOWQzNDdlYjA0OTJjNDhlZWM3ZTFmMmRiY2ZkZWJhN2Q3YjEzZTY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1545843600'
      Etag:
      - W/"8a42dc14d5a28a3e3e6d43948e3373bd"
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/AvailablePhoneNumbers/US/Local?InRegion=WA","available_phone_numbers":[{"friendly_name":"206-201-1680","phone_number":"+12062011680","lata":null,"rate_center":"BAINBDG
        IS","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"206-204-1820","phone_number":"+12062041820","lata":null,"rate_center":"SEATTLE","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"206-204-1821","phone_number":"+12062041821","lata":null,"rate_center":"SEATTLE","latitude":null,"longitude":null,"region":"WA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":fa[...]
