---
http_interactions:
- request:
    method: get
    uri: https://lpradovera.signalwire.com/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Recordings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjliYmEyZDQtZGRmMS00NTY5LThiNGEtNTkxNDQ0MGE1ZTEzOlBUMjNkM2NjZjUxOWQzNDdlYjA0OTJjNDhlZWM3ZTFmMmRiY2ZkZWJhN2Q3YjEzZTY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1545847200'
      Etag:
      - W/"45c4693845b43283af55f52d9acd97fc"
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Recordings?Page=0\u0026PageSize=50","first_page_uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Recordings?Page=0\u0026PageSize=50","next_page_uri":null,"previous_page_uri":null,"page":0,"page_size":50,"recordings":[{"sid":"e4c78e17-c0e2-441d-b5dd-39a6dad496f8","api_version":"2010-04-01","channel":"1","channels":"1","account_sid":"29bba2d4-ddf1-4569-8b4a-5914440a5e13","call_sid":"d411976d-d319-4fbd-923c-57c62b6f677a","conference_sid":null,"date_created":"Wed,
        19 Dec 2018 16:28:16 +0000","date_updated":"Wed, 19 Dec 2018 16:28:16 +0000","duration":14,"start_time":"Wed,
        19 Dec 2018 16:27:56 +0000","end_time":"Wed, 19 Dec 2018 16:28:16 +0000","error_code":null,"price":0.0,"price_unit":"USD","source":"RecordVerb","status":"completed","uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Calls/d411976d-d319-4fbd-923c-57c62b6f677a/Recordings/e4c78e17-c0e2-441d-b5dd-39a6dad496f8.json","subresource_uris":{"transcriptions":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Recordings/e4c78e17-c0e2-441d-b5dd-39a6dad496f8/Transcriptions.json"}}]}'
  recorded_at: Wed, 26 Dec 2018 17:03:37 GMT
recorded_with: VCR 4.0.0
