---
http_interactions:
- request:
    method: get
    uri: https://lpradovera.signalwire.com/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/AvailablePhoneNumbers/US/TollFree.json?AreaCode=310
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjliYmEyZDQtZGRmMS00NTY5LThiNGEtNTkxNDQ0MGE1ZTEzOlBUMjNkM2NjZjUxOWQzNDdlYjA0OTJjNDhlZWM3ZTFmMmRiY2ZkZWJhN2Q3YjEzZTY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1545843600'
      Etag:
      - W/"e813af3e1604ca52033e4966e3b9287b"
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/AvailablePhoneNumbers/US/TollFree?AreaCode=310","available_phone_numbers":[{"friendly_name":"310-217-4822","phone_number":"+13102174822","lata":null,"rate_center":"CMTN
        GRDN","latitude":null,"longitude":null,"region":"CA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"310-349-3059","phone_number":"+13103493059","lata":null,"rate_center":"HAWTHORNE","latitude":null,"longitude":null,"region":"CA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta":false},{"friendly_name":"310-349-3184","phone_number":"+13103493184","lata":null,"rate_center":"HAWTHORNE","latitude":null,"longitude":null,"region":"CA","postal_code":null,"iso_country":"US","capabilities":{"voice":true,"SMS":true,"MMS":true},"beta[...]
