---
http_interactions:
- request:
    method: get
    uri: https://lpradovera.signalwire.com/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Transcriptions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjliYmEyZDQtZGRmMS00NTY5LThiNGEtNTkxNDQ0MGE1ZTEzOlBUMjNkM2NjZjUxOWQzNDdlYjA0OTJjNDhlZWM3ZTFmMmRiY2ZkZWJhN2Q3YjEzZTY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1545847200'
      Etag:
      - W/"cee4642906bf1186f73342fb95ccb39a"
    body:
      encoding: UTF-8
      string: '{"uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Transcriptions?Page=0\u0026PageSize=50","first_page_uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Transcriptions?Page=0\u0026PageSize=50","next_page_uri":null,"previous_page_uri":null,"page":0,"page_size":50,"transcriptions":[{"sid":"425e8224-c4b0-4725-ab2c-ec9d41adbbe9","api_version":"2010-04-01","account_sid":"29bba2d4-ddf1-4569-8b4a-5914440a5e13","recording_sid":"e4c78e17-c0e2-441d-b5dd-39a6dad496f8","date_created":"Wed,
        19 Dec 2018 16:28:16 +0000","date_updated":"Wed, 19 Dec 2018 16:30:04 +0000","duration":14,"price":0.0,"price_unit":"USD","status":"completed","transcription_text":"Hello.
        Hello? Hello? Hello? Hello? Hello? Recording. Recording, Recording, Recording,
        recording. Hang up. Hello?","uri":"/api/laml/2010-04-01/Accounts/29bba2d4-ddf1-4569-8b4a-5914440a5e13/Transcriptions/425e8224-c4b0-4725-ab2c-ec9d41adbbe9.json"}]}'
  recorded_at: Wed, 26 Dec 2018 17:05:41 GMT
recorded_with: VCR 4.0.0
